body  {
  margin:0px;
  padding:0px;
  color:black;
  background-color:none;
  font-family: "Trebuchet MS",verdana,arial,helvetica,sans-serif;
  font-size:10pt;
}

#TopBar1 {
  margin:0px;
  padding:0px;
  background-color:#2F4F4F;
  height:85px;
  
}

#img {
  float:left;
  padding:0px;
  margin-left:7%;
}

#header1 {
  color:#FFFFFF;
  padding:20px 0 0 0;
  margin-left:0%;
  font-size:22pt;
  font-weight:;
  font-family: "Times New Roman", Times, serif;
  text-align:center;
}

#header2 {
  color:#FFFFFF;
  padding:10px 0 0 0;
  font-family: "Times New Roman", Times, serif;
  font-size:15pt;
  text-align:center;
}

#TopBar2 {
  background-color:#2F4F4F;
  margin:0px;
  padding:10px;
  height:25px;
}

.NavigationBar {
  padding:0px;
  margin:0px;
  position:relative;
  padding-left:100px;
}

.NavigationBar ul {
  padding:0px;
  margin:0px;
  line-height:30px;
}

.NavigationBar li {
  margin:0;
  padding:0;  
  list-style:none;
  float:left;
  position:relative;
  background:#999;
}

.NavigationBar ul li a {
  text-align:center;
  font-family:"Comic Sans MS", cursive;
  text-decoration:none;
  height:30px;
  width:150px;
  display:block;
  color:#FFF;
  border:1px solid #FFF;
  text-shadow:1px 1px 1px #000;
}

.NavigationBar ul ul {
  position:absolute;
  visibility:hidden;
  top:32px;
}

.NavigationBar ul li:hover ul {
  visibility:visible;
}

.NavigationBar li:hover {
  background-color:#09F;
}

.NavigationBar ul li:hover ul li a:hover {
  background:#CCC;
  color:#000;
}

.NavigationBar a:hover {
  color:#000;
}

#Footer {
  background-color:#2F4F4F;
  padding:5px;
}

#FooterLeft {
  background-color:transparent;
  color:#FFFFFF;
  padding:5px;
  line-height:1px;

}

#FooterRight {
  background-color:transparent;
  color:#FFFFFF;
  padding:5px;
  position:relative;
  left:350px;
  line-height:1px;
}

